body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
   
    height: 800px;
   background-color: black;
   border-radius: 20px;

    max-width: 300px;
    margin: 0 auto;
}
h2{
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 13px;
}
.login-page{
    position: relative;
    top: 200px;
}
input{
    
    align-items: center;

    background-color: #1F191966;

    position: relative;
    left: 60px;
    padding: 7px;
    border-radius: 20px;
    color: white;

}
img{
     position: relative;
    left: 100px;

}
button{
     position: relative;
     top: 20px;
    left: 60px;
    width: 180px;
     padding: 7px;
     margin-top: 10px;
    border-radius: 20px;
    background-color: #36A546;
    color: white;

}
a{
     position: relative;
    left: 100px;
    top: 20px;
    color: green;
    text-decoration: none;
    font-size: 13px;
}

